#onhover-conflitos {
	position: absolute;
}

.link {
	text-decoration: none;
	color:var(---link);
}

:where(#onhover-conflitos) {
	overflow: hidden;
	padding: 1.2% 0.6%;
	aspect-ratio: 1 / 1;
	width: 20%;
	background-color: #fafafa;
	display: none;
	border: #a8a8a8 solid 1px;
	box-sizing: border-box;
	border-radius: 10px;
}

#onhover-conflitos hr {
	height: 1px;
	margin: 0.5em 0;
	background-color: #999;
}

#onhover-conflitos hr.division {
	height: 1px;
	margin: 0.25em 0;
	background-color: #ccc;
}

#onhover-conflitos h3 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

#fit-map {
	float: right;
	opacity: 0;
	margin-right: 10px;
	margin-top: 10px;
	padding: 0.3em;
	position: relative;
	margin-left: -100%;
	border-radius: 0.3em;
	background-image: linear-gradient(var(---light-gray-accent), var(---light-gray));
	border: 1px solid var(---primary-dark);
	box-shadow: 0 -3px 4px 0.1px var(---light) inset;
	transition-duration: 0.3s;
	transition-delay: 0.2s;
}

#fit-map:hover {
	opacity: 1;
}

.fade-in {
	display: block;
	animation: fade 0.3s ease-out forwards;
}

main {
	display: flex;
	padding: 0;
	align-items: unset;
	box-sizing: border-box;
}



svg {
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
	transition-duration: 1s;
	width: 85%;
	height: auto;
	max-width: calc(100% - 2em);
}

path {
	cursor: pointer;
	transition-duration: 1s;
}

.justifier {
	display: flex;
	width: 100%;
	padding: 0;
	flex-grow: 100;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

@keyframes fade {
	from {
		transform: translateY(10px);
		opacity: 0;
	}

	to {
		width: 20%;
		opacity: 1;
	}
}