
svg path {
  fill: #181822;
  stroke: rgb(77, 77, 77);
  stroke-width: .25;
  transition-duration: 0.3s;
}

svg path:hover {
  fill: salmon;
  transition: 0.6s;
  cursor: pointer;
}

.svgs {
  display: block;
  margin-left: 2%;
  width: 90%;
}

.what h1,
h3 {
  text-decoration: underline;
  text-decoration-color: salmon;
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.what {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 25px;
  color: black;
}

@media only screen and (max-width: 600px) {


}