@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');


html {
  color: black;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
  margin: 0 auto;
  transition: 0.2s;
}


h1 {
  cursor: default;
  text-align: center;
}
.top{
  text-decoration: underline;
  text-decoration-color: salmon;
  margin-top: 5%;
  margin-bottom: 5%;
}
h2 {
  cursor: default;
  text-align: center;

}

h2:active {
  transition: 0.5s;
}

html {
  font-size: 1.5rem;
}



header {
  background-color: #181822;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.7rem 0;
}

.text {
  margin-left: 2%;
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-color: salmon;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  margin-right: 2%;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 0 salmon;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.text:hover {
  color: #000000;
  text-decoration: none;
  transition: 0.5s;
}

.text a {
  box-shadow: inset 0 0 0 0 salmon;
  color: #000000;
  margin: 0 -.25rem;
  padding: 0 .20rem;
}

.text:hover {
  box-shadow: inset 5rem 0 0 0 salmon;
  color: rgb(0, 0, 0);
}


footer {
  display: flex;
  flex-direction: column;
  height: 50px;
  padding-bottom: 25px;
  width: 100%;
  background-color: #181822;
  color: white;
  text-align: center;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  margin-left: 15px;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  transition: 0.5s;
}

/*Botão de dark mode*/
.cor button {
  /*Style do botão de cor tema*/
  position: relative;
  color: salmon;
  background-color: #181822;
  border: 2px solid salmon;
  display: block;
  margin: 10px;
  font-size: 16pt;
  height: 45px;
  width: 90px;
  transition-duration: 0.6s;
  opacity: 80%;
  border-radius: 15%;
  right: 0.5%;
  top: 2%;
  cursor: pointer;
}
.cor button:hover{
  box-shadow: 4px 4px 5px #181822;
  transition-duration: 0.3s;
  transform: translateY(-5px);
  opacity: 95%;
}
.cor button:active{
  opacity: 0%;
}

@media only screen and (max-width: 600px) {
  .text {
    display: none;
  }

  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .text1 {
    margin: 0;
    text-align: center;
    list-style: none;
    text-decoration: underline;
    text-decoration-color: #181822;
    color: rgb(255, 255, 255);
    margin-bottom: 15%;
    margin-top: 6%;
    transition: 0.5s;

  }

  .mobile-menu {
    margin: 0;
    text-align: left;
    list-style: none;
    height: 100%;
    background-color: salmon;
    transition: 0.5s;
    padding: 0px;
  }

  .cor button {
    display: none;
  }
}