:root{
    --color-grey: #c7c7c7;
    --color-hover: #cccccc;
    --font-page: 'Merriweather', serif;
}
main{
    margin: 0;
    background-color: var(--color-hover);
    min-height: 80vh;
}
.content{
    width: 50%;
    min-height: 30vh;
    background-color: #fff;
    margin: 4% 0 4% 0;
    border-radius: 10px;
    padding: 5%;
}
footer .logoif{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: right;
    height: 70px;
    width: 28%;
}
footer .footer-box{
    display: flex;
    flex-direction: row;
}
footer .ctt{
    margin-left: 20px;
}