* {
    border: 0;
    margin: 0;

    user-select: none;

    ---primary: #23125c;
    ---primary-dark: #1a0d42;
    ---primary-accent: #281569;
    ---accent: #4122a8;
    ---light: #5a2ee8;
    ---light-gray: #c7c3e8;
    /* light-blue */
    ---light-gray-accent: #f5f5ff;
    /* light-blue-accent */

    ---primary: #2d2c2e;
    ---primary-dark: #141414;
    ---primary-accent: #121010;
    ---accent: #8b8b8b;
    ---light: #707070;
    ---light-gray: #9f9f9f;
    ---light-gray-accent: #ffffff;

    ---link: #1600a9;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    z-index: -2;

    display: grid;
    grid:
        "header header" auto
        "main   aside" 1fr
        "footer footer" auto
        / 1fr   auto;
}


header {
    grid-area: header;
    background-image: linear-gradient(var(---primary), var(---primary-dark));
    box-shadow: #000000 0 4px 6px 0px;
    padding: 1em 0;
    overflow: hidden;
    width: 100%;
}

header>* {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: xxx-large;
    color: white;
}

main {
    grid-area: main;
    padding: 2em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(var(---light-gray-accent), var(---light-gray));
}

aside {
    background-color: var(---primary-accent);
    box-shadow: #000000 -4px 0 6px 0px;
    grid-area: aside;
    color: white;
    transition-duration: 0.1s;
    overflow-x: hidden;
    box-sizing: border-box;
}

aside h1 {
    margin-bottom: 4rem;
    font-size: xxx-large;
}

aside a {
    color: #c6c6c6;
    text-decoration: none;
    display: block;
}

aside a:hover {
    color: white;
}

aside .aside-content {
    box-sizing: border-box;
    padding: 8em 4em;
    width: 33.3333vw;
}

footer {
    grid-area: footer;
    background-image: linear-gradient(var(---primary-dark), var(---primary));
    box-shadow: #000000 0 -4px 6px 0px;
    color: white;
    padding-top: 2em;
    padding-bottom: 1.5em;
    text-align: center;
    padding: 0.7em;
}