* {
    border: 0;
    margin: 0;

    user-select: none;

    ---primary: #23125c;
    ---primary-dark: #1a0d42;
    ---primary-accent: #281569;
    ---accent: #4122a8;
    ---light: #5a2ee8;
    ---light-gray: #c7c3e8;
    /* light-blue */
    ---light-gray-accent: #f5f5ff;
    /* light-blue-accent */

    ---primary: #2d2c2e;
    ---primary-dark: #141414;
    ---primary-accent: #121010;
    ---accent: #8b8b8b;
    ---light: #707070;
    ---light-gray: #9f9f9f;
    ---light-gray-accent: #ffffff;

    ---link: #1600a9;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    z-index: -2;

    display: grid;
    grid:
        "header" auto "main" auto "aside" 1fr "footer" auto / 1fr;
}


header {
    grid-area: header;
    background-image: linear-gradient(var(---primary), var(---primary-dark));
    box-shadow: #000000 0 4px 6px 0px;
    padding: 1em 0;
    overflow: hidden;
    width: 100%;
}

header * {
    color: white;
    text-decoration: none;
}

header>* {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: xxx-large;
}

h2+p {
    margin-top: 1em;
}

p+h2 {
    margin-top: 1em;
}

main {
    grid-area: main;
    padding: 2em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(var(---light-gray-accent), var(---light-gray));
    text-align: justify;
}

aside {
    background-color: var(---primary-accent);
    box-shadow: #000000 -4px 0 6px 0px;
    grid-area: aside;
    color: white;
    transition-duration: 1s;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    box-sizing: border-box;
}

aside hr {
    height: 2px;
    background-color: black;
}

aside hr+a {
    margin-top: 1em;
}

aside h1 {
    margin: 1rem 0 1rem .6em;
    font-size: xxx-large;
}

aside a {
    color: #c6c6c6;
    margin: .3rem 0 .3rem .4em;
    text-decoration: none;
    display: block;
}

aside a:hover {
    color: white;
    text-shadow: 0 0 3px white;
}

aside .aside-content {
    box-sizing: border-box;
    padding: 4em 4em;
    width: 100vw;
}

footer {
    grid-area: footer;
    background-image: linear-gradient(var(---primary-dark), var(---primary));
    box-shadow: #000000 0 -4px 6px 0px;
    color: white;
    padding-top: 2em;
    padding-bottom: 1.5em;
    text-align: center;
    padding: 0.7em;
}

p+.ref{
    margin-top: 2em;
}

.ref a {
    display: block;
}


@media screen and (min-width: 414px) {
    body {
        grid:
            "header header" auto "main   aside" 1fr "footer footer" auto / 1fr auto;
    }

    aside .aside-content {
        width: 33.3333vw;
    }

    main {
        font-size: 1.2em;
    }
}